streamlit==1.35.0
pandas==2.2.2
numpy==1.26.4
pyarrow==15.0.2
altair==5.2.0
pydeck==0.8.1b0
plotly==5.22.0
requests==2.32.3
python-dateutil==2.9.0.post0
beautifulsoup4==4.12.3
lxml>=5.2,<6
cairosvg==2.7.1
openpyxl==3.1.5
streamlit-javascript==0.1.5
